*.iml
.gradle
/local.properties
/.idea/cashes
/.idea/workspace.xml
/.idea/misc.xml
/.idea/compiler.xml
/.idea/copyright
/.idea/libraries
/.idea/codeStyles
/.idea/caches
/.idea/caches/build_file_checksums.ser
.DS_Store
/build
/captures
.externalNativeBuild

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.json
.gradle/
.idea/
