<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.plusmobileapps.safetyapp">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- SyncAdapter permissions -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_concept"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_concept_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <service android:name="org.eclipse.paho.android.service.MqttService" />

        <activity
            android:name=".SplashActivity"
            android:label="@string/app_name_only"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".welcome.WelcomeActivity"
            android:label="@string/app_name_only"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Walkthrough" />
        <activity
            android:name=".walkthrough.walkthrough.WalkthroughActivity"
            android:label="@string/title_activity_walkthrough"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Clean" />
        <activity
            android:name=".signup.SignupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Clean"/>
        <activity
            android:name=".main.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".summary.detail.SummaryOverviewDetailsActivity"
            android:label="SummaryDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".actionitems.detail.ActionItemDetailActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".walkthrough.location.LocationActivity"
            android:screenOrientation="portrait" /> <!-- FileProvider for picture files -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.plusmobileapps.safetyapp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <service
            android:name=".sync.AuthenticatorService"
            android:permission=""
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <provider
            android:name=".sync.StubProvider"
            android:authorities="com.plusmobileapps.safetyapp.provider"
            android:exported="false"
            android:syncable="true" />

        <service
            android:name=".sync.SyncService"
            android:exported="true"
            android:permission=""
            android:process=":sync"
            tools:ignore="ExportedService">
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>

        <activity android:name=".AdminSettings" />
        <activity android:name=".CustomPopup" />
    </application>

</manifest>